{% extends "base.html" %}

{% block content %}
<div class="banner">
    <h1>Hey, future CODE Students!</h1>
    <p >The CODE University of Applied Sciences is a private, state-recognized University of Applied Sciences for digital product development in Berlin. </p>
    <p >CODE is an international and inclusive learning environment that attracts digital pioneers from all over the world and empowers them to live up to their full potential. As a community, we stimulate transformative innovation by fostering creativity, critical thinking, collaboration, and curiosity-driven learning.</p>
</div>

<a href="https://www.pexels.com/search/cat/"><button >Click Me!</button></a>

{% endblock %}