{% extends "base.html" %}

{% block content %}
<div class="banner" style="text-align: center;">
    <h1>Apply now!</h1>
    <div>
        <p>
            By registering for our application process, you will receive an email from us with an invitation to set up your personal account.
        </p>
        <p>If you don’t confirm your account, we will delete the account after three weeks and you would need to signup again.
        </p>
    </div>
    <form>
        <label for="fname">First name</label>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name</label>
        <input type="text" id="lname" name="lname"><br>
        <label for="email">Email Adress</label>
        <input type="text" id="email" name="email"><br>
    </form>
    <br><button style="padding: 4px 8px;" style="width: auto;">Submit</button></a>
</div>

{% endblock %}